<!-- MENU SECTION -->
<div class="section">
  <div class="section-header">
    <h2 class="section-title">Our <span>Menu</span></h2>
    <div class="filters">
      @for (cat of categories; track $index) {
      <button class="filter-chip" 
      [class.active]="activeFilter === cat"
       (click)="setFilter(cat)">
       {{cat}}
      </button>
      }
    </div>
  </div>
  <div class="cards-grid">
    @for (item of filteredMenuItems; track $index) {

    
    <div class="food-card">
      <div class="food-img"><img [src]="item.photo" alt=""><span class="food-badge">{{item.badge}}</span></div>
      <div class="food-info">
        <div class="food-name">{{item.name}}</div>
        <div class="food-desc">{{item.desc}}</div>
        <div class="food-footer">
          <span class="food-price">{{item.price}}</span><button class="add-btn" (click)="addToCart(item)">+</button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
