<div class="wrapper" [class.dark]="darkMode">
  <div class="header">
    <h1>To do List</h1>
    <div class="header-right">
      <button class="btn-dark" (click)="toggleDark()">{{ darkMode ? '☀️' : '🌙' }}</button>
    </div>
  </div>
  <div class="inputs">
    <input type="text" [(ngModel)]="newTask" placeholder="Enter Task" />

    <select [(ngModel)]="selectedValue">
      @for (item of selectArr; track $index) {
        <option [value]="item.value">{{ item.name }}</option>
      }
    </select>
    <select [(ngModel)]="newCategory">
      @for (categ of categories; track $index) {
        <option [value]="categ">{{ categ }}</option>
      }
    </select>

    <button class="btn-add" (click)="addTask()">Add</button>
  </div>
  <div class="buttons">
  <button class="btn-add" (click)="toggleSortSelect()">Sort {{ sortOrder === 'asc' ? '↑' : '↓' }}</button>
  <button class="btn-add" (click)="toggleSortAZ()"> A-Z {{ azSortOrder === 'asc' ? '↑' : '↓' }}</button>
</div>
  <div class="tasks">
    @for (item of taskArr; track item.id) {
      <div class="row">
        @if (editId === item.id) {
        <input type="text" [(ngModel)]="editTitle" (keyup.enter)="saveEdit(item)" class="edit-input" />
        <button class="btn-complete" (click)="saveEdit(item)">✅</button>
        <button class="btn-delete" (click)="cancelEdit()">🚫</button>
        }
        @else {
        <span [className]="item.completed ? `done` : ``">{{ item.title }}</span>
        <span class="task-value"
        [ngClass]="getPriorityClass(item.value)">
          {{ item.value }}
        </span>
        <span>
            {{item.category}}
        </span>
        <button class="btn-complete" (click)="completedTask(item)">✅</button>
        <button class="btn-delete" (click)="deleteTask(item)">❌</button>
        <button class="btn-delete" (click)="startEdit(item)">✏️</button>
        }
      </div>
    }
  </div>
</div>
